<div *ngFor="let dataInputField of dataInputFields | groupfilter:curDataGroup; let i = index">
    <div id="wrapper" class="container-fluid">
        <div id="description">
            {{dataInputField.description}} - {{dataInputField.dataGroupName}}
        </div>
        <div class="input-group field-input">
            <!--<span class="input-group-addon"></span>-->
            <input #input class="form-control" id="value-input" type="number" (blur)="changeField(dataInputField)" [(ngModel)]="dataInputField.processValue">
            <span class="input-group-addon" id="units">{{dataInputField.units}}</span>
        </div>
        <span id="databox" *ngIf="dataInputField.lowerLimit"><b>Lower limit: {{dataInputField.lowerLimit}}</b></span> 
        <span id="databox" *ngIf="dataInputField.upperLimit"><b>Upper limit: {{dataInputField.upperLimit}}</b></span>
        <span id="databox" *ngIf="dataInputField.timestamp"><b>{{dataInputField.timestamp | date:'mediumTime'}}</b></span>
    </div>
</div>

