// @import "{}/node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding-bottom: 100px;
}
// body {
//   padding-top: 60px;
// }
// @media (max-width: 979px) {
//   body {
//     padding-top: 0px;
//   }
// }

.valid-input {
    border: solid 3px green;
    border-radius: 5px;
}
.greyed {
    background-color: #e6e6e6;
    color: white;
}

#units {
    font-size: 30px
}
// input {
//     font-size: 100px
// }
#value-input {
    height: 120px;
    font-size: 90px;
}
#description {
    font-size: 50px;
}
#field-options {
    text-align: left;
}
#skip-text {
    color: black;
    margin-right: 4px;
    padding: 5px;
    font-size: 16px;
}
#override-text {
    color: black;
    padding: 5px;
    font-size: 16px;
}
#datawrapper {
    width: 97%;
    border-top: 2px solid black;
    padding: 17px;
}
#databox {
    // border: 1px solid white;
    font-size: 25px;
    padding: 3px;
}
#topbutton {
    margin-bottom: 20px;
}
#data-field {
    border: 1px solid black;
}
#groupswitchbutton {
    margin: 10px; 
    padding: 4px;
    font-size: 50px;
    display:inline-block;
}
#buttonbar {
    // overflow-x: auto;
    // white-space: nowrap;
    // border-top: 2px solid black;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}
#spacer {
    height: 140px;
}
#main-data-entry {
    width: 97%;
}
#directions {
    font-size: 60px;
    text-decoration: underline;
}
.success-range {
    background-color: green;
}
.data-point-label {
    margin-right: 5px;
}