// @import "{}/node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding-top: 60px;
}
.valid-input {
    border: solid 3px green;
    border-radius: 5px;
}
.greyed {
    background-color: #e6e6e6;
    color: white;
}

#units {
    font-size: 30px
}
input {
    font-size: 60px
}
#value-input {
    height: 100px
}
#description {
    font-size: 30px;
}
#field-options {
    text-align: left;
}
#skip-text {
    color: black;
    margin-right: 4px;
    padding: 5px;
    font-size: 16px;
}
#override-text {
    color: black;
    padding: 5px;
    font-size: 16px;
}
#wrapper {
    width: 97%;
    border: 1px solid black;
    margin: 3px;
    padding: 7px;
}
#databox {
    // border: 1px solid white;
    font-size: 25px;
    padding: 3px;
}
#topbutton {
    margin-bottom: 20px;
}
#data-field {
    border: 1px solid black;
}
#groupswitchbutton {
    margin: 4px; 
}