<div *ngFor="let dataInputField of dataInputFields | groupfilter:curDataGroup; let i = index">
    <div id="datawrapper" [class.change-border]="dataInputField['focused']">
        <div id="description">
            {{dataInputField.description}}
        </div>
        <div class="input-group field-input">
            <span *ngIf="dataInputField.processValue != undefined && isAboveLowerLimit(dataInputField) && isBelowUpperLimit(dataInputField)"
                class="input-group-addon"><span style="color: #5cb85c; font-size: 60px"><i class="fa fa-check-square" aria-hidden="true"></i></span></span>
            <!--<span *ngIf="(dataInputField.processValue || dataInputField.processValue === 0) && (!isAboveLowerLimit(dataInputField) || !isBelowUpperLimit(dataInputField))"
                class="input-group-addon"><span style="color: #d9534f; font-size: 60px">&#10008;</span></span>-->

            <input #input class="form-control" id="value-input" type="number" (ngModelChange)="changeField(dataInputField)" (focus)="onFocus(dataInputField)"
                (blur)="onBlur(dataInputField)" [(ngModel)]="dataInputField.processValue">
            <span class="input-group-addon" id="units">{{dataInputField.units}}</span>
        </div>
        <h2>
            <span *ngIf="dataInputField.lowerLimit && dataInputField.processValue != undefined && dataInputField.focused"><span [class.tag-success]="isAboveLowerLimit(dataInputField)" [class.tag-danger]="!isAboveLowerLimit(dataInputField)"  class="data-point-label tag tag-default"><i class="fa fa-chevron-right" aria-hidden="true"></i>            {{dataInputField.lowerLimit}} <span *ngIf="isAboveLowerLimit(dataInputField)"> <i class="fa fa-check" aria-hidden="true"></i></span><span *ngIf="!isAboveLowerLimit(dataInputField)"> <i class="fa fa-times" aria-hidden="true"></i></span> </span>
            </span>
            <span *ngIf="dataInputField.upperLimit && dataInputField.processValue != undefined && dataInputField.focused"><span [class.tag-success]="isBelowUpperLimit(dataInputField)" [class.tag-danger]="!isBelowUpperLimit(dataInputField)" class="data-point-label tag tag-default"><i class="fa fa-chevron-left" aria-hidden="true"></i>            {{dataInputField.upperLimit}} <span *ngIf="isBelowUpperLimit(dataInputField)"> <i class="fa fa-check" aria-hidden="true"></i></span><span *ngIf="!isBelowUpperLimit(dataInputField)"> <i class="fa fa-times" aria-hidden="true"></i></span> </span>
            </span>
            <span *ngIf="dataInputField.timestamp && dataInputField.processValue != undefined && dataInputField.focused"><span class="data-point-label tag tag-info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{dataInputField.timestamp | date:'mediumTime'}}</span>
            </span>
        </h2>
    </div>
</div>
