<div class="container-fluid" id="main-data-entry">
    <div class="container-fluid">
        <!--<div id="group-nav'btn" class="row">
            <div class="col-xs-6">
                <span id="group-left-btn" class="btn btn-info"><span class="glyphicon glyphicon-circle-arrow-left"></span>Previous</span>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <span  id="group-right-btn" class="btn btn-info">Next <span class="glyphicon glyphicon-circle-arrow-right"></span></span>
            </div>
        </div>-->
    </div>
    <div class="container-fluid" [class.buttonbar]="!expanded" [class.buttonbar-expanded]="expanded">
        <span *ngFor="let dataGroup of dataGroups">
            <button [class.groupswitchbutton]="!expanded" [class.groupswitchbutton-expanded]="expanded"
            [class.btn-primary]="dataGroup._id === curDataGroup"
            [class.btn-info]="dataGroup._id != curDataGroup"
            class="btn btn-lg" (click)="changeCurGroup(dataGroup._id)">{{dataGroup.name}}</button>
        </span>
        
    </div>
    <div *ngIf="!expanded" (click)="toggleExpanded()" class="btn btn-default btn-lg">Expand</div>
    <div *ngIf="expanded" (click)="toggleExpanded()" class="btn btn-default btn-lg">Collapse</div>
    <br>
    <span id="directions">{{curLocationName}} data: </span>

    <data-input-form [curDataGroup]="curDataGroup" [curRecord]="curRecord" [dataInputFields]="dataInputFields"></data-input-form>
    <div id="spacer">&nbsp;</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <button id="groupswitchbutton" style="font-size: 40px" class="btn btn-sm btn-info" (click)="cancelEntry()">Cancel record</button>
        <button id="groupswitchbutton" style="font-size: 40px" class="btn btn-sm btn-info" (click)="saveEntry()">Submit record</button>
    </div>
</nav>