<!--{{dataGroup.name}}-->
<header *ngIf="location && dataGroup && !editing">
    <a [routerLink]="['/location', location._id]">Back to data groups for {{location.name}}</a>
    <h1>{{dataGroup.name}} - {{location.name}}</h1>
    <button (click)="editDataGroup()">Edit text</button>
</header>

<form *ngIf="dataGroup && editing" (submit)="saveDataGroup()">
    <label>Name</label>
    <input type="text" [(ngModel)]="dataGroup.name" name="name">
    <br>
    <button type="submit">Save</button>
</form>
<br>


<!--<data-groups-list [curLocation]="locationId"></data-groups-list>-->
