<!--{{dataGroup.name}}-->

<div class="container-fluid" style="width: 94%">

    <header *ngIf="location && dataGroup && !editing">
            <a class="navlink" [routerLink]="['/configure/location', location._id]">Back to data groups for {{location.name | nonbreaking}}</a>

        <span class="details-info">
            <br>{{dataGroup.name}} - {{location.name}}<br>
            <button class="btn btn-default" (click)="editDataGroup()">Edit text</button>
        </span>
    </header>

    <form *ngIf="dataGroup && editing" (submit)="saveDataGroup()">
            <a class="navlink" [routerLink]="['/configure/location', location._id]">Back to data groups for {{location.name}}</a>

        <span class="details-info">
            <label>Name</label>
            <input type="text" [(ngModel)]="dataGroup.name" name="name">
            <br>
            <button class="btn btn-default" type="submit">Save</button>
        </span>
    </form>
    <br>


    <data-points-list [curLocation]="locationId" [curDataGroup]="dataGroupId"></data-points-list>

    <!--[curLocation]="locationId" [curDataGroup]="dataGroupId"-->
</div>