<form [formGroup]="addDataPointForm" (ngSubmit)="addDataPoint()">
    <label>Description</label>
    <input type="text" formControlName="description">
    <br>
    <label>Units</label>
    <input type="text" formControlName="units">
    <br>
    <label>Lower Limit</label>
    <input type="text" formControlName="lowerLimit">
    <br>
    <label>Upper Limit</label>
    <input type="text" formControlName="upperLimit">
    <br>
     <label>Lower Physical Limit</label>
    <input type="text" formControlName="lowerPhysicalLimit">
    <br>
    <label>Upper Physical Limit</label>
    <input type="text" formControlName="upperPhysicalLimit">
    <br>
     <label>Required Field?</label>
    <input type="checkbox" formControlName="required">
    <br>
    <button class="btn btn-default" type="submit">Add Data Point</button>
</form>