Data Points:

<br>
<button (click)="changeAdderToggle()" [hidden]="dataPointAddToggled">Add Data Point</button>
<button (click)="changeAdderToggle()" [hidden]="!dataPointAddToggled">Hide Add Data Point Form</button>


<div [hidden]="!dataPointAddToggled">
  <hr>
  <data-points-form [curLocation]="curLocation" [curDataGroup]="curDataGroup"></data-groups-form>
  <hr>
</div>

<ul>
  <li *ngFor="let dataPoint of dataPoints">
    <span><!--<a [routerLink]="['/location', curLocation, '/data-group/', dataGroup._id ]">-->{{dataPoint.description}}<!--</a>--></span>
    <p>
      {{dataPoint._id}}<br>
      {{dataPoint.locationId}}<br>
      {{dataPoint.dataGroupId}}<br>
    </p>
    
  </li>
</ul>
<!--{{curLocation}}-->