<!--<select [ngModel]="selectedFitting" (ngModelChange)="onChangeFitting($event)">
    <option disabled selected value> -- Select a fitting type -- </option>
    <option [ngValue]="fitting" *ngFor="let fitting of fittings">{{fitting}}</option>  
</select>-->


<h2>Add Fitting</h2>

<b>Fitting type: </b>
<select [ngModel]="selectedFitting" (ngModelChange)="onChangeFitting($event)">
    <option [ngValue]="fitting" *ngFor="let fitting of fittingsNew; let i = index">{{fitting.description}}</option>  
</select><br>

<span *ngIf="selectedFitting">
    <b>Quantity: </b>
        <input type="number" [(ngModel)]="fittingQty">
    <br>
</span>

<span *ngIf="selectedFitting">
    <span *ngIf="selectedFitting.type !== 'reducer'">
        <b>Nominal pipe size: </b>
    </span>
    <span *ngIf="selectedFitting.type === 'reducer'">
        <b>Nominal pipe size (larger pipe): </b>
    </span>
    <select [ngModel]="selectedSize1" (ngModelChange)="onChangeSize1($event)">
        <option [ngValue]="size" *ngFor="let size of sizes">{{size}}</option>  
    </select><br>
</span>


<span *ngIf="selectedFitting">
    <span *ngIf="selectedFitting.type === 'reducer'">
        <b>Nominal pipe size (smaller pipe): </b> 
        <select [ngModel]="selectedSize2" (ngModelChange)="onChangeSize2($event)">
            <option disabled selected value> -- Select a pipe size -- </option>
            <option [ngValue]="size" *ngFor="let size of sizes">{{size}}</option>  
        </select><br>
    </span>
</span>

<span *ngIf="selectedFitting">
    <b>Material of pipe: </b> 
    <select *ngIf="selectedFitting.materialsAvailable" [ngModel]="selectedMaterial" (ngModelChange)="onChangeMaterial($event)">
        <option disabled selected value> -- Select a pipe material -- </option>
        <option [ngValue]="material" *ngFor="let material of selectedFitting.materialsAvailable">{{material}}</option>  
    </select><br>
</span>

<span *ngIf="selectedFitting && selectedMaterial">
    <b>Thickness of pipe: </b> 
    <select [ngModel]="selectedSchedule" (ngModelChange)="onChangeSchedule($event)">
        <option disabled selected value> -- Select a pipe schedule -- </option>
        <option [ngValue]="schedule" *ngFor="let schedule of curScheduleArray">{{schedule}}</option>  
    </select><br>
    <br> 
</span>
<br>

<!--
<span *ngIf="selectedFitting && fittingQty && selectedFitting.type !== 'reducer'">
    <h2>Preview:</h2>
    <b>Qty: </b>{{fittingQty}}<br>
    <b>Description: </b>{{selectedSize1}} IN. {{selectedSchedule}} {{selectedMaterial}} {{selectedFitting.description}}
</span>
<span *ngIf="selectedFitting && fittingQty && selectedFitting.type === 'reducer'">
    <h2>Preview:</h2>
    <b>Qty: </b>{{fittingQty}}<br>
    <b>Description: </b>{{selectedSize1}} X {{selectedSize2}} {{selectedSchedule}} {{selectedMaterial}} {{selectedFitting.description}}
</span>
<br>-->
<button (click)="addLine()">Click to add to BOM</button>
