<div class="container">
    <bom-input></bom-input>
    <button (click)="deleteAll()">Click to delete all</button>
    <br><br>
    <h2>Bill of Materials</h2>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Line #</th>
                <th>Unit</th>
                <th>Qty</th>
                <th>Description</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of bomLines; let i = index">
                <td>{{(i+1)}} </td>
                <td>{{line.units}}</td>
                <td>{{line.quantity}}</td>
                <td>{{line.valueString}}</td>
                <td>
                    <span *ngIf="!line.deleteClicked">
                        <button (click)="line.deleteClicked=true">Delete</button>
                    </span>
                    <span *ngIf="line.deleteClicked">
                        Are you sure you want to delete this line? 
                        <button (click)="line.deleteClicked=false">No</button> <button (click)="deleteLine(line)">Yes</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>