<a class="navlink" [routerLink]="['']">Back to Homepage</a>
<br>

<div class="container-fluid" style="width: 94%">
  Add a new location:
  <div id="form-wrapper"><locations-form></locations-form></div>
  
  <span class="details-info">Locations:</span>
  <br>
  <div class="location-block" *ngFor="let location of locations ">
    <span><b><a [routerLink]="[ 'location', location._id] ">{{location.name}}</a></b> ({{location.shortName}})</span>
    <div>
      {{location.region}}, {{location.country}}
    </div>
    <button (click)="deleteLocation(location)" class="btn btn-default">Delete Location</button>
  </div>
</div>