<a [routerLink]="['']">Back to Homepage</a>
<br>
<br>

Locations:
<br>
<button (click)="changeAdderToggle()" [hidden]="locationAddToggled">Add Location</button>
<button (click)="changeAdderToggle()" [hidden]="!locationAddToggled">Hide Add Location Form</button>

<div [hidden]="!locationAddToggled">
  <hr>
  <locations-form></locations-form>
  <hr>
</div>
<div class="location-block" *ngFor="let location of locations">
  <span><b><a [routerLink]="['location', location._id]">{{location.name}}</a></b> ({{location.shortName}})</span>
  <div>
    {{location.region}}, {{location.country}}
  </div>
  <!--<p>{{location._id}}</p>-->
  <div>
    <!--<button (click)="editLocation()">Edit Location</button>
    <button (click)="removeLocation(location)">Delete Location</button>-->
  </div>
</div>
<!--Filtered Locations:
<ul>
  <li *ngFor="let location of filteredLocations">
    <span>{{location.name}}</span>
  </li>
</ul>-->